@using TPANUAL
@{
    ViewBag.Title = "Organización";
    Usuario usuario = (Usuario)Session["Usuario"];
    Organizacion o = (Organizacion)Session["Organizacion"];
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-9">
                            <h1 class="card-title">@o.NombreFicticio #@o.ID_Organizacion</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body pl-3 pr-3">
                    <div class="row">
                        <div class="cuadros-texto col-xl-4">
                            <div class="cuadro-texto alert alert-default" role="alert">
                                <h2>Info</h2>
                                <hr />
                                <h6 class="text-center">Cantidad de personal</h6>
                                <p class="text-center">@o.CantidadPersonal</p>
                                <hr>
                                <h6 class="text-center">Promedio de ventas anuales</h6>
                                <p class="text-center">@o.PromedioVentasAnuales</p>
                                <hr>
                                <h6 class="text-center">Cantidad de ingresos</h6>
                                <p class="text-center">@o.OperacionesDeIngreso.Count</p>
                                <hr>
                                <h6 class="text-center">Cantidad de egresos</h6>
                                <p class="text-center">@o.OperacionesDeEgreso.Count</p>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <h2>Usuarios</h2>
                            <div class="tabla-compras">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-right">Tipo de usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Usuario u in o.Usuarios)
                                        {
                                            <tr>
                                                <td>@u.ID_Usuario</td>
                                                <td class="text-center">@u.NombreUsuario</td>
                                                <td class="text-right">@u.TipoUsuario</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="cuadros-texto col-xl-4">
                            <div class="cuadro-texto alert alert-default" role="alert">
                                <h2>Tipo entidad</h2>
                                <hr />
                                @if (o.EntidadJuridica != null) //Si es entidad jurídica, muestro esto:
                                {
                                    EntidadJuridica ej = o.EntidadJuridica;

                                    <h6 class="text-center">Codigo de Inscripción</h6>
                                    <p class="text-center">@ej.CodigoInscripcion</p>
                                    <hr>
                                    <h6 class="text-center">CUIT</h6>
                                    <p class="text-center">@ej.CUIT</p>
                                    <hr>
                                    <h6 class="text-center">Razón Social</h6>
                                    <p class="text-center">@ej.RazonSocial</p>
                                }
                                else // Si es entidad base, muestro esto:
                                {
                                    EntidadBase eb = o.EntidadBase;

                                    <h6 class="text-center">Descripción</h6>
                                    <p class="text-center">@eb.Descripcion</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

